.profile{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.menu{
    width: 20px;
    height: 20px;
}
.header{

}

.app-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
  
}

.logo{
    width: 400px;
    height: 150px;
    margin-bottom: 30px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    
}

.input-text{
    width: 500px;
    height: 30px;
    outline: none;
    padding: 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 50px;
    background-image: url("lupa.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.4em;
    padding-left:30px;
}   

.botton, .goolge-language{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin-top: 20px;
    background-color: rgb(248, 249, 250);
    padding: 5px
}

.button:hover{
    background-color:  rgb(246, 243, 246);
    
}

.lang{
    color: blue;
}

.footer{
    background-color: rgb(242, 242, 242);
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-above, .footer-under{
    margin-left: 30px;
}

.footer-above{
    padding-top: 5px;
}

.footer-under{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-above{
    border-bottom: 1px solid rgb(218, 220, 224);
}

.footer-under a:hover{
    text-decoration: underline;
}

footer{
    bottom: auto;
}
